@use "~@cycjimmy/sass-lib" as *;

body {
  &.compatibleWithSafeArea {
    margin:
      env(safe-area-inset-top)
      env(safe-area-inset-right)
      env(safe-area-inset-bottom)
      env(safe-area-inset-left);
  }
}

.root {
  @extend %full-container;
}

.swiperContainer {
  @extend %full-container;
}

.swiperWrapper {
  @extend %rel;
  width: 100%;
  height: 100%;

  box-sizing: content-box;
  transition-property: transform;
}
