{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "WeixinJSBridge": "readonly"
  },
  "rules": {
    "no-underscore-dangle": "off"
  }
}
